/***
 *    ┓ ┏┓ ┏┓┏┓┏┓┳┳┏┳┓
 *    ┃┃┃┃ ┃┃┃┓┃┃┃┃ ┃ 
 *    ┗┻┛┗┛┗┛┗┛┗┛┗┛ ┻ 
 *                    
 */

@define-color surface-alpha rgba(18, 19, 24, 0.5);

@define-color primary #b7c4ff;

@define-color foreground #e3e1e9;

window {
  font-size: 16pt;
  color: @foreground;
  background-color: @surface-alpha;
}

button {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
  background-color: transparent;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s ease-in;
  box-shadow: 0 0 10px 2px transparent;
  border-radius: 36px;
  margin: 10px;
  color: @foreground;
}

button:focus {
  box-shadow: none;
  outline-style: none;
  background-size: 20%;
  background-color: @primary;
}

button:hover {
  background-size: 50%;
  outline-style: none;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.4);
  background-color: @primary;
  color: transparent;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.28, 1.682),
    box-shadow 0.5s ease-in;
}

#shutdown {
  background-image: image(url('./icons/power.png'));
}
#shutdown:hover, #shutdown:focus {
  background-image: image(url('./icons/power-hover.png'));
}

#logout {
  background-image: image(url('./icons/logout.png'));
}
#logout:hover, #logout:focus {
  background-image: image(url('./icons/logout-hover.png'));
}

#reboot {
  background-image: image(url('./icons/restart.png'));
}
#reboot:hover, #reboot:focus {
  background-image: image(url('./icons/restart-hover.png'));
}

#lock {
  background-image: image(url('./icons/lock.png'));
}
#lock:hover, #lock:focus {
  background-image: image(url('./icons/lock-hover.png'));
}

#sleep {
  background-image: image(url('./icons/hibernate.png'));
}
#sleep:hover, #sleep:focus {
  background-image: image(url('./icons/hibernate-hover.png'));
}
